.gael-letter {
    margin-top: 5px;
    width: 250px;
    padding: 80px;
    text-align: justify;
    font-family: 'elvish', 'amiri';
    line-height: 160%;
    background: none;
    color: rgba(var(--textcolor));
    font-size: 16px;
}

.gletter-to {
    font-family: var(--serifsubheader);
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-transform: lowercase;
    padding-bottom: 20px;
    color: var(--highlight);
}

.gletter-sent {
    padding-top: 15px;
    text-align: right;
    font-family: var(--serifsubheader);
    font-size:18px;
    font-weight: 700;
    font-style: italic;
    text-transform: lowercase;
    color: var(--highlight);
}

#elvish {
    font-family: 'elvish';
}
